body {
    background-color: purple;
    color: aliceblue;
}

.row {
    display: flex;
    justify-content: space-between;
	flex-direction: row;
}

.left,
.right {
    display: flex;
	flex-direction: column;
}

/*왼쪽*/
.left{
    padding-left: 0px;
}

.title1 {
    font-style: italic;
    font-size: 45px;
}

.txt {
    display: block;
    width: 400px;
}

.container {
    display: flex;
    justify-content: column;
}

.box {
    background-color: aliceblue;
    color: black;
    
    width: 100px;
    height: 100px;
    padding: 30px 10px;
    margin: 5px;
    border-radius: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/*오른쪽*/
.right {
    margin-right: 0px;
    justify-content: center;
}

.title2 {
    font-style: italic;
    font-size: 30px;
}

.input {
    display: flex;
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 50px;
}

.button {
    border-radius: 50px;
}