body {
    background-color: black;
    color: aliceblue;
}

.row {
    display: flex;
    justify-content: space-between;
	flex-direction: row;
    justify-content: space-between;
}

.left,
.right {
	display: flex;
	flex-direction: column;
}

.left{
    padding-left: 100px;
    padding-right: 500px;
}

.right {
    margin-right: 100px;
    justify-content: center;
}

.title {
    font-style: italic;
}

.txt {
    margin-bottom: 20px;
}

.box {
}