body {
    background-color: black;
    color: aliceblue;
    
}

.navbar {
    display: flex;
    justify-content: flex-end;
  }

.bars {
    display: none;
    border: none;
    background-color: transparent;
    cursor: pointer;

    height: 30px;
}

.bars svg{
    fill: #f09837;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 100vh;
}

.left,
.right {
    display: flex;
	flex-direction: column;
}

/*왼쪽*/
.left{
    padding-left: 0px;
    width: 450px;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title1 {
    font-style: italic;
    font-size: 45px;
    margin: 10px 0px;
}

.txt {
    margin: 10px 0px;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
}

.container {
    display: flex;
    margin: 10px 0px;
}

.box {
    background-color: aliceblue;
    color: black;
    
    width: 150px;
    height: 100px;
    padding: 30px 10px;
    margin: 5px;
    border-radius: 5px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-style: italic;
    font-size: 18px;
    font-weight: bold;
}

.txt.array{
    margin: 0px;
}

/*오른쪽*/
.right {
    justify-content: center;
    align-items: center;
}

.title2 {
    font-style: italic;
    font-size: 30px;
}

.ID input{
    background-image: url(user-solid.svg);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 15px center;
    padding-left: 40px;
}


.PW input{
    background-image: url(lock-solid.svg);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 15px center;
    padding-left: 40px;
}

.input {
    display: flex;
    width: 250px;
    margin-bottom: 10px;
    padding: 13px;
    border-radius: 50px;
    font-style: italic;
}

.button {
    width: 200px;
    border-radius: 50px;
    margin: 10px;
    padding: 10px;
    background-color: #f09837;
    color: aliceblue;
    font-weight: 600;
}

@media screen and (max-width: 850px) {
    body {
      .right{
        display: none;
      }
      
      }
      .right.active{
        display: block;

        display: flex;
        justify-content: center;
        align-items: center;
      }
      .left.active{
        display: none;
      }
      .bars{
        display: block;
    }
  }
